body {
    font-family: 'Open Sans', sans-serif;
  }

  .hero-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/stemcon_2024/cover.jpg');
    background-size: cover;
    background-position: center;
  }